
#gallery{
height:630px;
overflow: hidden;
width: 3300px;
transform: translateX(-300px) translateY(590px) rotateY(0deg) rotateX(90deg);
transition: 1.5s;
}

#gallery img{
width:auto;
height:auto;
object-fit:cover;
opacity:0.5;
}

#gallery > *{
    padding:2px;
    background:#00000020;
    position:absolute;
    Z-index:0;
}

#gallery > *:hover{
background:#09ff00;
position: absolute;
transition:0.7s;
}

#art_a{
 
    position: absolute;
    transform: translateX(300px) translateY(100px) rotateZ(10deg);
}
#art_b{
    position: absolute;
    transform: translateX(600px) translateY(250px) rotateZ(-3deg);
}

#art_c{
    position: absolute;
    transform: translateX(100px) translateY(300px) rotateZ(0deg);
}

#art_d{
    position: absolute;
    transform: translateX(430px) translateY(340px) rotateZ(5deg);
}

#art_e{
    position: absolute;
    transform: translateX(900px) translateY(200px) rotateZ(-10deg);
}




#art_a img{
    height:150px;
    width:200px;
}
#art_b img{
    height:300px;
    width:200px;
   object-position:0px 0px;
}

#art_c img{
    height:200px;
    width:300px;
}

#art_d img{
    height:100px;
    width:100px;
}

#art_e img{
    height:150px;
    width:200px;
}

